* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Raleway", sans-serif;
}
img {
  width: 100%;
}

body {
  background-color: black;
}

/* HEADER */
.hero {
  display: flex;
  height: 100vh;
}

/* MITADES */
.hero-left,
.hero-right {
  flex: 1;
}

/* IZQUIERDA */
.hero-left {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

/* TITULO */
.hero-left h1 {
  font-size: 50px;
  font-size: 6rem;
}

/* ABOUT */
.about h2 {
  font-size: 24px;
}

.about p {
  max-width: 500px;
  line-height: 1;
}

/* LOGOS */
.logos img {
  width: 500px;
  margin-top: 10px;
}

/* DERECHA (IMAGEN) */
.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  font-family: "Archivo Black", sans-serif;
  color: white;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#menu > ul {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding-left: 0;
  list-style: none;
  height: 2rem;
  align-items: center;
  padding: 0 2rem;
  background-color: white;
}

#menu > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

section {
  min-height: 50vh;
  padding: 0 2rem;
  scroll-margin-top: 3rem;
}

#PROJECTS > div {
  font-weight: bold;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

#PROJECTS > div > figure > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

#PROJECTS > div > figure:hover > img {
  transform: scale(1.1);
  transition: 0.5s;
}

footer {
  padding: 0 2rem;
}

footer > p > a {
  color: white;
}
