* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: black;
  font-size: 1rem;
}

/* HEADER-----------------------------------------------------  */

.hero {
  display: flex;
  height: calc(100vh - 3rem);
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-left {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.hero-left h1 {
  font-size: 50px;
  font-size: 9rem;
  padding-top: 2rem;
  letter-spacing: -12px;
}

.hero-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#ABOUTME > section > p {
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

/* H-----------------------------------------------------  */

h1 {
  font-family: "Archivo Black", sans-serif;
  color: white;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
}

.section-title {
  border-bottom: 1px solid white;
  margin: 0;
  padding: 0.2rem 0;
  line-height: 1;
}

/* MENU-----------------------------------------------------  */

#menu > div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#menu > div > ul {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding-left: 0;
  list-style: none;
  height: 2rem;
  align-items: center;
  padding: 0 2rem;
  background-color: white;
}

#menu > div > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  padding: 0.8rem 1rem;
  z-index: 2;
  cursor: pointer;
}

.menu-icon i {
  color: black;
  font-size: 1.5rem;
}

/* MARQUESINA-----------------------------------------------------  */

.marquesina {
  overflow: hidden;
  padding: 1rem;
  white-space: nowrap;
  background-color: white;
}

.marquesina > div {
  display: flex;
  gap: 3rem;
  width: max-content;
  animation: marquesina 15s linear infinite;
}

.marquesina,
.marquesina * {
  color: black;
}

@keyframes marquesina {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* SECTION-----------------------------------------------------  */

section {
  min-height: 50vh;
  padding: 0 2rem;
  scroll-margin-top: -5rem;
}

/* PROJECTS-----------------------------------------------------  */

#PROJECTS h2 {
  font-size: 7rem;
  padding-top: 8rem;
}

#PROJECTS > div {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  gap: 3rem 8rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#PROJECTS > div > figure {
  text-align: center;
  flex: 0 1 300px;
}

#PROJECTS > div > figure > img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.7s;
}

#PROJECTS > div > figure:hover > img {
  transform: scale(1.1);
  transition: transform 0.7s;
}

#PROJECTS > div > figure > figcaption > a {
  text-decoration: none;
}

/* CONTACT-----------------------------------------------------  */

#CONTACT {
  padding-bottom: 11rem;
}

#CONTACT h2 {
  font-size: 7rem;
  padding-top: 8rem;
}

#CONTACT > div {
  padding-top: 2rem;
}

#CONTACT > div > p {
  padding: 0 4rem;
  line-height: 2;
  font-size: 1.2rem;
}

/* RESPONSIVE ------------------------------------------------------------------------------ */

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    height: auto;
  }

  .hero-right img {
    height: auto;
  }
  section {
    min-height: 0vh;
  }
  body {
    font-size: 2rem;
  }
  #PROJECTS > div {
    font-size: 2rem;
  }
  #CONTACT > div > p {
    font-size: 2rem;
  }

  #menu > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 3rem;
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background: transparent;
    z-index: 2;
  }

  #menu > div > ul {
    position: static;
    top: 3rem;
    right: 0;
    width: 100%;
    flex-direction: column;
    background: white;
    display: none;
    height: auto;
    align-items: flex-start;
    gap: 0;
    padding: 0;
  }

  #menu-toggle:checked + .menu-icon + div ul {
    display: flex;
  }

  #menu > div > ul > li {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  #menu > div > ul > li > a {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .hero-left h1 {
    font-size: 25px;
    font-size: 4rem;
    padding-top: 2rem;
    letter-spacing: -7px;
  }
  h2 {
    font-size: 2rem;
  }

  #PROJECTS h2 {
    font-size: 3rem;
    padding-top: 5rem;
  }

  #CONTACT h2 {
    font-size: 3rem;
    padding-top: 5rem;
  }
  #CONTACT > div > p {
    padding: 0 2rem;
    line-height: 2;
    font-size: 1rem;
  }
}
